:root {
  --site-padding: 1rem;
  --site-max-width: auto;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  background: black;
  color: white;
}

h1 {
  font-size: 21px;
  margin: 0 0 0.25rem 0;
}

img {
  display: block;
}

p {
  margin-top: 0;
}

a {
  color: inherit;
}
a:hover {
  text-decoration: none;
}

main {
  padding: var(--site-padding, 1rem);
  width: 100%;
  max-width: var(--site-max-width, 72rem);
}
